* {
    margin: 0;
    padding: 0;
}

.board {
    /* Flexbox layout */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}

.pyramid {
    width: 100%;
    margin: 5px;
}

.disk {
    height: 50px;
    margin-bottom: 25px;
    background-color: blue;
    color: white;
    line-height: 50px;
    text-align: center;
}

.disk:last-of-type {
    margin-bottom: 0;
}
